@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    background: black;
    color: white;
    overflow-x: hidden;

    /* 👉 THÊM */
    overflow-y: auto;
    touch-action: pan-y;
}

section {
    position: relative;
    min-height: 100vh;
    scroll-margin-top: 90px;
}